body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
table.res-table{
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    td{
        &:first-child{
            font-weight:bold;
        }
        min-width:150px;
        padding:5px;

    }
}
